<a href="https://icons8.com">Icon pack by Icons8</a>



<ion-view view-title="Community">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-gear-b" href="#/setting"></a>
  </ion-nav-buttons>
  <ion-content>
    <label class="item item-input item-stacked-label padding">
      <span class="input-label">Share your thoughts</span>
      <textarea ng-model="share.text" class="textarea" ng-class="{'royal': slider.rangeValue==1, 'calm': slider.rangeValue==2, 'assertive': slider.rangeValue==3, 'energized': slider.rangeValue==4, 'balanced': slider.rangeValue==5, 'positive': slider.rangeValue==6}" rows = "3" placeholder = "Hi {{user.firstname}}! How are you feeling today?"></textarea>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="mood.text" type="text" class="item-text-wrap" placeholder="What mood are you in?">
        </label>
      </div>
    </label>

    <div class="row">
      <div class="col col-75 text-left">
        <div ng-show="slider.rangeValue==0" class="item range range-dark">
          <!--<i class="icon ion-sad-outline"></i> -->
          <i class="icon ion-android-color-palette"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-paintbrush"></i>
        </div>
        <div ng-show="slider.rangeValue==1" class="item range range-royal">
          <i class="icon ion-ios-lightbulb royal"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-ios-lightbulb royal"></i>
        </div>

        <div ng-show="slider.rangeValue==2" class="item range range-calm">
          <i class="icon ion-alert calm"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-alert calm"></i>
        </div>

        <div ng-if="slider.rangeValue==3" class="item range range-assertive">
          <i class="icon ion-heart assertive"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-heart assertive"></i>
        </div>

        <div ng-show="slider.rangeValue==4" class="item range range-energized">
          <!-- Parent Guardian icon by Icons8 -->
          <img class="icon icons8-Parent-Guardian energized-bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABP0lEQVRIS8WUgTEEMRhG31VAB+iADqgAFRgVoAKuAnRABehAB5RAB1TAvJXs7MTu3k2SyWVmZ+fu5vLyf3n/v6DRWjTisFHQLnAL7Idq34Er4KOk+rQiIW/AdrLpF3BQAktBz8DxxMlfgJPcqlKQJ9+a2Mzo9lqAPgGjzVobi84Ta1ka33ewMNu8sT4SdpfofbmGcZp6PRDmAVjGnGs2rIe7SC7wHvCQ/yaDTareh+HRQqN8DW8Vn1pjxvamxorsD6fBKqvczF4TLNTPcY2BelMFCXnKcvYP6vMI3IQ7Gm7lHfl9F53l7WSC4t+OQpXeU5weytBBIuinEOLfHbpCJpcVlYDsL8VRGN9ng4pipN5nF10u6DwAhMwNY387LQFFY8ckSCNc1gDNTfxe/RqgtaJvCqpg9+otag7VWVoz0C+yYkWIxduhbAAAAABJRU5ErkJggg==" width="26" height="26">
          <!--<i class="icon ion-android-hand energized"></i>-->
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <!--<i class="icon ion-person-stalker energized"></i>-->
          <!-- Parent Guardian icon by Icons8 -->
          <img class="icon icons8-Parent-Guardian energized-bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABP0lEQVRIS8WUgTEEMRhG31VAB+iADqgAFRgVoAKuAnRABehAB5RAB1TAvJXs7MTu3k2SyWVmZ+fu5vLyf3n/v6DRWjTisFHQLnAL7Idq34Er4KOk+rQiIW/AdrLpF3BQAktBz8DxxMlfgJPcqlKQJ9+a2Mzo9lqAPgGjzVobi84Ta1ka33ewMNu8sT4SdpfofbmGcZp6PRDmAVjGnGs2rIe7SC7wHvCQ/yaDTareh+HRQqN8DW8Vn1pjxvamxorsD6fBKqvczF4TLNTPcY2BelMFCXnKcvYP6vMI3IQ7Gm7lHfl9F53l7WSC4t+OQpXeU5weytBBIuinEOLfHbpCJpcVlYDsL8VRGN9ng4pipN5nF10u6DwAhMwNY387LQFFY8ckSCNc1gDNTfxe/RqgtaJvCqpg9+otag7VWVoz0C+yYkWIxduhbAAAAABJRU5ErkJggg==" width="26" height="26">
        </div>

        <div ng-show="slider.rangeValue==5" class="item range range-balanced">
          <i class="icon ion-trophy balanced"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-trophy balanced"></i>
        </div>

        <div ng-show="slider.rangeValue==6" class="item range range-positive">
          <i class="icon ion-android-happy positive"></i>
          <input type="range" name="mood" min="0" max="6" value="{{slider.rangeValue}}" ng-model="slider.rangeValue">
          <i class="icon ion-android-happy positive"></i>
        </div>
      </div>

        <div class="col text-right">
          <button class="button" ng-class="{'button-stable': slider.rangeValue==0, 'button-royal': slider.rangeValue==1, 'button-calm': slider.rangeValue==2, 'button-assertive': slider.rangeValue==3, 'button-energized': slider.rangeValue==4, 'button-balanced': slider.rangeValue==5, 'button-positive': slider.rangeValue==6}" ng-click="showSubmit()">
            Submit
          </button>
        </div>
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
        Recent
      </div>
      <select>
        <option selected>Recent</option>
        <option>Inspirational</option>
        <option>OMG</option>
        <option><3</option>
        <option>feel ya</option>
        <option>Congrats~!~</option>
        <option>LoL!</option>
      </select>
    </label>

    <!--refresher-->
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list" ng-repeat="message in messages">

        <div class="padding-left item-text-wrap " >
            {{timeAgo(message.createdAt)}}

            <p class="paddingRight1">{{message.attributes.text}}</p>


          <div class="row item-button-right">
            <div class="col">
              <button class="button button-bar button-small button-royal" ng-click="clickedInspirational(message)">
                inspire + {{message.attributes.categories.inspirational}}
              </button>
            </div>
            <div class="col">
              <button class="button button-bar button-small button-calm" ng-click="clickedOmg(message)">
                OMG + {{message.attributes.categories.omg}}
              </button>
            </div>
            <div class="col">
              <button class="button button-bar button-small button-assertive" ng-click="clickedHeart(message)">
                <3 + {{message.attributes.categories.heart}}
              </button>
            </div>
          </div>
          <div class="row item-button-right">
            <div class="col">
              <button class="button button-bar button-small button-energized" ng-click="clickedFeel(message)">
                feel ya + {{message.attributes.categories.feel}}
              </button>
            </div>
            <div class="col">
              <button class="button button-bar button-small button-balanced" ng-click="clickedGrats(message)">
                grats!~ + {{message.attributes.categories.congrats}}
              </button>
            </div>
            <div class="col">
              <button class="button button-bar button-small button-positive" ng-click="clickedLol(message)">
                LOL + {{message.attributes.categories.lol}}
              </button>
            </div>

            <button class="button button-clear" ng-click="showFavorite(message)">
              <i class="icon ion-star energized"></i>
            </button>


          </div>
        </div>





    </div>

    </div>

  </ion-content>



</ion-view>

