<ion-view cache-view="false" view-title="Edit Profile">
    <!--<ion-header-bar class="bar-light">-->
        <!--<div class="buttons">-->
            <!--<button id="bold_blue" class="button button-clear button-positive" ng-click="profile_page()">Cancel</button>-->
        <!--</div>-->

        <!--<h1 class="title" id="green_title">Edit Profile</h1>-->

        <!--<div class="buttons">-->
            <!--<button id="bold_blue" class="button button-clear button-positive " ng-disabled="disableButton" ng-click="submit()">Update</button>-->
        <!--</div>-->
    <!--</ion-header-bar>-->
    <ion-content class="padding">

    </ion-content>
</ion-view>
