<ion-view view-title="Goals">

    <ion-nav-buttons side="left" ng-show="!showAdd">
        <a class="button button-clear icon ion-compose" ng-click="toggleShowAdd()"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-gear-b" href="#/setting" ng-click="setting"></a>
    </ion-nav-buttons>

    <!-- <ion-content>

        <ion-checkbox ng-repreat="goal in goals" ng-model="goals;goal.complete" ng-checked="goal.complete">
            {{goal.text}}
            <ion-option-button class="button-assertive" style="bg=red" ng-click="remove(goal)">Remove</ion-option-button>
        </ion-checkbox>

        <form ng-submit="add(newGoal)">
            <input type="text" placeholder="Enter a goal" ng-model="newGoal" style="float:left;"/>
            <button class="button button-balanced" type="submit" style="float:right;">Submit</button>
        </form>

    </ion-content> -->

    <ion-content ng-start="getGoals()">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list" ng-show="showAdd">
          <div class="item item-input-inset">
            <!-- <label class="">
              <input type="text" />
            </label> -->
            <label class="button-block">
                <textarea placeholder="Enter a goal" ng-model="newGoal"></textarea>
            </label>
                <button class="button button-balanced" ng-click="add(newGoal)">Submit</button>
            </button>
          </div>

        </div>

        <ion-list>
            <ion-item ng-repeat="goal in User.goals">
                <input type="checkbox" ng-click="toggleComplete(goal)" ng-model=goal.attributes.isComplete>
                {{ goal.attributes.text }}
                <ion-option-button class="button-assertive button-remove" ng-click="remove(goal)">Remove</ion-option-button>
            </ion-item>
        </ion-list>

        <!-- {{goals}} -->

    </ion-content>
</ion-view>
