<ion-view view-title="Me">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-gear-b" href="#/setting" ng-click="setting"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">



    <!--<div class="card-wrapper1">-->
    <!--<div class="card xcard1">-->
    <div class="button-bar padding">

      <a class="button button-positive button-outline" ng-class="{'active': showFav}" ng-click = "show_fav()"  >
        <p>My favorites</p>
      </a>
      <a class="button button-positive button-outline" ng-class="{'active': showShare}" ng-click = "show_share()" >
        <p>My Shares</p>
      </a>


    </div>

    <!--<ion-scroll class="xcard1scroll">-->



    <div class = "card card-wrapper2" ng-show="showFav">
      <ion-scroll class = "xcard2scroll">
      <ion-list class="list "
                ng-controller="MeCtrl"
                show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat= "post in myfav" post = "post" >
          <!--<div class="item item-body">-->
          <h2>{{post.title}}</h2>
          <h4>date</h4>
          <label>
            <a href="#" class="subdued">1 understanding</a>
            <a href="#" class="subdued">5 OMG</a>
          </label>

          <ion-option-button class="button-positive"
                             ng-click="delete_fav(post)">
            Delete
          </ion-option-button>
          <!--</div>-->
        </ion-item>
        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#">-->
        <!--<i class="icon ion-ios-star-outline"></i>-->
        <!--Favorite-->
        <!--</a>-->
        <!--</div>-->

      </ion-list>

      </ion-scroll>
    </div>





    <div class = "card card-wrapper2" ng-show="showShare">
      <ion-scroll class = "xcard2scroll">
      <ion-list class="list"
                ng-controller="MeCtrl"
                show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat= "post in myshare" post = "post" >
          <!--<div class="item item-body">-->
          <h2>{{post.title}}</h2>
          <h4>date</h4>
          <label>
            <a href="#" class="subdued">1 understanding</a>
            <a href="#" class="subdued">5 OMG</a>
          </label>

          <ion-option-button class="button-positive"
                             ng-click="delete_share(post)">
            Delete
          </ion-option-button>
          <!--</div>-->
        </ion-item>
        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#">-->
        <!--<i class="icon ion-ios-star-outline"></i>-->
        <!--Favorite-->
        <!--</a>-->
        <!--</div>-->

      </ion-list>
      </ion-scroll>
    </div>
