<ion-view view-title="Me">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-gear-b" href="#/setting" ng-click="setting"></a>
  </ion-nav-buttons>
  <ion-content>



    <!--<div class="card-wrapper1">-->
    <!--<div class="card xcard1">-->
    <div class="button-bar padding">

      <a class="button button-balanced button-outline" ng-class="{'active': showFav}" ng-click = "show_fav()"  >
        <p>My Favorites</p>
      </a>
      <a class="button button-balanced button-outline" ng-class="{'active': showShare}" ng-click = "show_share()" >
        <p>My Shares</p>
      </a>
      <a class="button button-balanced button-outline" ng-class="{'active': showGoals}" ng-click = "show_goals()" >
        <p>My Goals</p>
      </a>


    </div>

    <!--<ion-scroll class="xcard1scroll">-->



    <div class = "card card-wrapper2 padding" ng-show="showFav">

      <ion-scroll class = "xcard2scroll">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
      <ion-list class="list "
                show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat= "fav in myFavorites">
          <!--<div class="item item-body">-->
          <h4>{{formatDate(fav.createdAt)}}</h4>
          <div class="row"></div>
          <h2 ng-class="{'royal': fav.attributes.primaryCategory=='Inspirational', 'calm': fav.attributes.primaryCategory=='OMG', 'assertive': fav.attributes.primaryCategory=='<3', 'energized': fav.attributes.primaryCategory=='feel ya', 'balanced': fav.attributes.primaryCategory=='Congrats~!~', 'positive': fav.attributes.primaryCategory=='LOL!'}">{{fav.attributes.text}}</h2>
          <!--<label>-->
            <!--<a href="#" class="subdued">1 understanding</a>-->
            <!--<a href="#" class="subdued">5 OMG</a>-->
          <!--</label>-->
          <div class="row">
            <div class="col">
              <a class="subdued royal">inspire +{{fav.attributes.categories.inspirational}}</a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued calm">OMG +{{fav.attributes.categories.omg}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued assertive"><3 +{{fav.attributes.categories.heart}} </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="subdued energized">feel ya +{{fav.attributes.categories.feel}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued balanced">grats!~ +{{fav.attributes.categories.congrats}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued positive">LOL +{{fav.attributes.categories.lol}} </a>
            </div>
          </div>

          <ion-option-button class="button-assertive"
                             ng-click="delete_fav(fav)">
            Delete
          </ion-option-button>
          <!--</div>-->
        </ion-item>
        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#">-->
        <!--<i class="icon ion-ios-star-outline"></i>-->
        <!--Favorite-->
        <!--</a>-->
        <!--</div>-->

      </ion-list>

      </ion-scroll>
    </div>





    <div class = "card card-wrapper2" ng-show="showShare">

      <ion-scroll class = "xcard2scroll">

        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

      <ion-list class="list"
                show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">
        <ion-item ng-repeat= "message in myShares">
          <!--<div class="item item-body">-->
          <h4>{{formatDate(message.createdAt)}}</h4>
          <h4>Current mood: {{message.attributes.mood}}</h4>
          <div class="row"></div>
          <h2 ng-class="{'royal': message.attributes.primaryCategory=='Inspirational', 'calm': message.attributes.primaryCategory=='OMG', 'assertive': message.attributes.primaryCategory=='<3', 'energized': message.attributes.primaryCategory=='feel ya', 'balanced': message.attributes.primaryCategory=='Congrats~!~', 'positive': message.attributes.primaryCategory=='LOL!'}">{{message.attributes.text}}</h2>
          <!--<label>-->
            <!--<a class="subdued royal">inspire +{{share.attributes.categories.inspirational}}</a>-->
            <!--<a class="subdued calm">OMG +{{share.attributes.categories.omg}}</a>-->
            <!--<a class="subdued assertive"><3 +{{share.attributes.categories.heart}}</a>-->
            <!--<a class="subdued energized">feel ya +{{share.attributes.categories.feel}}</a>-->
            <!--<a class="subdued balanced">grats!~ +{{share.attributes.categories.congrats}}</a>-->
            <!--<a class="subdued positive">LOL +{{share.attributes.categories.lol}}</a>-->
          <!--</label>-->
          <div class="row">
            <div class="col">
              <a class="subdued royal">inspire +{{message.attributes.categories.inspirational}}</a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued calm">OMG +{{message.attributes.categories.omg}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued assertive"><3 +{{message.attributes.categories.heart}} </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="subdued energized">feel ya +{{message.attributes.categories.feel}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued balanced">grats!~ +{{message.attributes.categories.congrats}} </a>
            </div>
            <div class="col col-offset-20">
              <a class="subdued positive">LOL +{{message.attributes.categories.lol}} </a>
            </div>
          </div>

          <ion-option-button class="button button-assertive" ng-click="delete_share(message)">
            Delete
          </ion-option-button>
          <!--</div>-->
        </ion-item>
        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--<a class="tab-item" href="#">-->
        <!--<i class="icon ion-ios-star-outline"></i>-->
        <!--Favorite-->
        <!--</a>-->
        <!--</div>-->

      </ion-list>
      </ion-scroll>
    </div>

    <div class = "card card-wrapper2 padding" ng-show="showGoals">

      <ion-scroll class = "xcard2scroll">

        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list class="list "
                  show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">

          <ion-item ng-repeat= "goal in myGoals">
            <!--<div class="item item-body">-->
            <h4>Created on: {{formatDate(goal.attributes.createdAt)}}</h4>
            <div class="row"></div>
            <h2 >{{goal.attributes.text}}</h2>
            <div class="row"></div>
            <h4>Completed on: {{formatDate(goal.attributes.competedAt)}}</h4>
            <!--<label>-->
            <!--<a href="#" class="subdued">1 understanding</a>-->
            <!--<a href="#" class="subdued">5 OMG</a>-->
            <!--</label>-->
            <!-- <div class="row">
              <div class="col">
                <a class="subdued royal">inspire +{{fav.attributes.categories.inspirational}}</a>
              </div>
              <div class="col col-offset-20">
                <a class="subdued calm">OMG +{{fav.attributes.categories.omg}} </a>
              </div>
              <div class="col col-offset-20">
                <a class="subdued assertive"><3 +{{fav.attributes.categories.heart}} </a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a class="subdued energized">feel ya +{{fav.attributes.categories.feel}} </a>
              </div>
              <div class="col col-offset-20">
                <a class="subdued balanced">grats!~ +{{fav.attributes.categories.congrats}} </a>
              </div>
              <div class="col col-offset-20">
                <a class="subdued positive">LOL +{{fav.attributes.categories.lol}} </a>
              </div>
            </div> -->

            <!-- <ion-option-button class="button-positive"
                               ng-click="delete_fav(post)">
              Delete
            </ion-option-button> -->
            <!--</div>-->
          </ion-item>
          <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
          <!--<a class="tab-item" href="#">-->
          <!--<i class="icon ion-ios-star-outline"></i>-->
          <!--Favorite-->
          <!--</a>-->
          <!--</div>-->

      </ion-list>

        </ion-scroll>
      </div>
    </ion-content>
