<ion-view view-title="Reset Password">
    <!--<div>-->
        <!--<ion-header-bar class="bar-light">-->
            <!--<div class="buttons">-->
                <!--<button ng-click="backToSignIn()" id="blue_font" class="button back-button buttons button-clear header-item">-->
                    <!--<i class="icon ion-chevron-left"></i>-->
                    <!--<span class="back-text" style="transform: translate3d(0px, 0px, 0px);">Log In</span></button>-->
            <!--</div>-->
            <!--<h1 class="title">Reset Password</h1>-->
        <!--</ion-header-bar>-->
    <!--</div>-->

    <ion-content>
        <div id="background" class="padding">
            <br>
            <br>
            <br>
            Please enter the email address. We'll send you an email to reset your password.
            <br>
            <br>
        </div>

        <form>
            <label class="item item-input">
                <input type="text" placeholder="johnsmith@example.org" ng-model="email" required>
            </label>
        </form>

        <div class="padding">
            <button class="button button-block button-balanced" ng-click="resetPw(email)">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>
