<ion-view view-title="Settings">
  <ion-nav-buttons side="left">
    <a class="button button-clear icon ion-chevron-left" href="#/tab/community"> Back</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <!--<div class="item item-divider">-->
        <!--Settings-->
      <!--</div>-->

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-person-outline"></i>
        <div  ng-click="backToProfile()">About Me </div>
        <i class="icon ion-ios-arrow-down"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-locked-outline"></i>
        <div  ng-click="changepassword()">Change Password</div>
        <i class="icon ion-ios-arrow-down"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-paper-outline"></i>
        <div  ng-click="addnotepad()">Edit notepad</div>
        <i class="icon ion-ios-arrow-down"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-minus-outline"></i>
        <div  ng-click="logout()">Log Out</div>

      </a>

    </div>
  </ion-content>
</ion-view>
